/*variables */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fec526;
  }
  
  h1 {
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left:115px;
    font-weight: lighter;
    font-size: 40px;
    color: rgb(54, 43, 17);
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Satisfy", cursive;
    font-family: "Special Elite", cursive;
    font-family: "Vast Shadow", cursive;
  }
  
  h2 {
    margin-left: 20px;
    font-family: "Fasthand", cursive;
    font-family: "Freehand", cursive;
    font-family: "Satisfy", cursive;
    font-family: "Special Elite", cursive;
  }
  
  h3 {
    margin-left: 10px;
    font-family: "Fasthand", cursive;
    font-family: "Freehand", cursive;
    font-family: "Satisfy", cursive;
    font-size: 22px;
    margin-top: 15px;
    color: rgb(17, 11, 4);
  }
  
  